div.main {
  background-image: url("tetris.png");
  width: 95%;
  height: 147%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 5px auto;
  position: relative;
}

div.welcome, div.register {
  background-color: #c7c7c7;
  width: 30%;
  position: relative;
  margin: 5px auto;
  text-align: center;
  top: 50%;
  box-shadow: 5px 5px;
}

div.register {
  text-align: right;
}

#board {
  display: none;
  background-color: #c7c7c7;
  height: 28vw;
  position: relative;
  margin: 5px auto;
  text-align: right;
  top: 50%;
  box-shadow: 5px 5px;
}

#tetris-bg {
  background-image: url("tetris-grid-bg.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 5px auto;
  position: relative;
}

p.error {
  color: rgb(255, 60, 0);
  padding: 2%;
}

input.register {
  margin-right: 25%;
}

input.register-button {
  margin: 2%;
  width: 96%
}

h1.title {
  font-family: "Arial";
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  position: relative;
  margin: 2%;
}

#play-button {
  font-family: "Arial";
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  text-align: center;
  position: relative;
  margin: 2%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
  }
  
li {
  float: right;
  font-family: "Arial";
  font-size: 12px;
  font-weight: bold;
}

li[name="home"] {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #4444ff;
}

#score {
  padding: 2%;
}

div.block {
  width: 5%;
  height: 5%;
  position: absolute;
}

table {
  border-spacing: 2px;
  margin: auto;
}

th {
  background-color: blue;
  color: white;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#purple {
  background-color: purple;
}

#orange {
  background-color: orange;
}

#turquoise {
  background-color: turquoise;
}